
<form class="form-horizontal">
	<div class="form-group">
		<label for="txtNombre" class="col-sm-4">Nombre:</label>
		<div class="col-sm-8">
			<input type="text" class="text form-control" ng-model="amigo.nombre"/>
		</div>
	</div>
	<div class="form-group">
		<label for="txtNombre" class="col-sm-4">Tlfnoa:</label>
		<div class="col-sm-8">
			<input type="text" class="text form-control" ng-model="amigo.cantidad"/>
		</div>
	</div>
	<div class="form-group">
		<button ng-click="btnUpdate()" class="col-sm-6 btn btn-danger btn-lg btn-block">Guardar</button>
		<a href="#/amigos" class="cool-sm-6 btn btn-primary btn-lg btn-block">Volver</a>
	</div>
</form>